:root {
  /* Common */
  --max-width: 1140px;
  --horizontal-padding: 24px;
  --gallery-animation-duration: 0.75s;

  /* Colors */
  --black: #2d2d2d;
  --black1: #0f0f0f;
  --white: #fff;
  --gray: #f3f3f3;

  /* Scrollbar */
  --scrollbar-width: 4px;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 1px solid var(--black);
}

*:active {
  outline: none;
}

html,
body {
  max-width: var(--max-width);
  height: 100%;
  margin-inline: auto;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.regular-text {
  font-size: 17px;
  line-height: 27px;
}

.nav-animation,
.nav-animation::after,
.nav-animation::before {
  transition: all 0.5s;
}

.active,
.nav-animation {
  position: relative;
}

.active::after,
.nav-animation::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  margin: auto;
  color: transparent;
  content: '.';
  background: #aaa;
}

.active::after {
  width: 100%;
}

.nav-animation:hover::after {
  width: 100%;
}
