:root {
  --max-width: 1280px;
  --horizontal-padding: 24px;

  /* Colors */
  --black: #2d2d2d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  margin-inline: auto;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}
