.container {
  display: flex;
  gap: 68px;
  justify-content: space-between;
  padding: 42px var(--horizontal-padding);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--black);
}

.image-wrapper {
  position: relative;
  min-width: 280px;
  height: 360px;
}

.image {
  object-fit: cover;
  border-radius: 150px 150px 0 0;
}

@media screen and (width < 991px) {
  .title {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (width < 810px) {
  .title {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (width < 767px) {
  .container {
    position: relative;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;
  }

  .title {
    display: none;
  }

  .text-wrapper {
    order: 1;
  }

  .image-wrapper {
    width: 280px;
    height: 280px;
    margin-inline: auto;
  }

  .image {
    border-radius: 50%;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}
