.container {
  display: flex;
  gap: 68px;
  justify-content: space-between;
  padding: 42px var(--horizontal-padding);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--black);
}

.title {
  font-size: 68px;
  font-weight: 700;
  line-height: 64px;
}

.image-wrapper {
  position: relative;
  min-width: 280px;
  height: 360px;
}

.image {
  object-fit: cover;
  border-radius: 150px 150px 0 0;
}
