.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  background: transparent;
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.list-item {
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  background: transparent;
}

.link-color {
  color: var(--black);
}

.padding {
  padding: 24px var(--horizontal-padding);
}
